{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <div class="container" id="aboutus">
        <h1 class="aboutus">About Us</h1>
        <br>
        <br>
        <h2>Tech Shop</h2>
        <p>
            Tech shop is an online Shopping store providing you the best products with a competitive price.
            Our goal is to provide you with a great online shopping experience. It will show you most popular and trending
            electronic gadgets in the market. 
        </p>
        <p>
            We are looking to grow our business more and more, offering our customers the best products for an easy life.
        </p>

        <p>
            Come <a href="Register.html">join us</a> to get more new technical gadgets. Feel free to 
            contact us, we will reply as fast as possible. 
            <h5>Email: <strong>official@techshop.com<strong></h5>  
        </p>
    </div>
{% endblock %}