{% extends 'base.html' %}
{% block title %}
    Add
{% endblock %}
{% block content %}
    <br><br>

    <form id = "form" action = "{% url 'add' %}" method="POST" class="d-flex justify-content-center" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "form">
            ProductName
            <div class="form-group">
                {{form.ProductName}}    
            </div>

            Price
            <div class="form-group">
                {{form.Price}}
            </div>

            Description
            <div class="form-group">
                {{form.Description}}
            </div>
            
            Image
            <div class="form-group">
                {{form.Image}}
            </div>
            <button class="btn btn-dark">Add</button>
        </div>
        
    </form>
    
    <br><br>
{% endblock %}