<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
   <link rel = "stylesheet" href="index.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    <script src="jquery-3.4.1.js"></script>
</head>
<body>
        <div id = "registerform">
            <h4>Create Account</h4>
                <form id="form" action="Home.html" method="POST">
                    <div class="form-group">
                        <div class="result">
                            <label for = "firstname"> First Name:</label>
                            <input type="text" class="form-control" id="firstname"> 
                            <i class="fa fa-check-circle"></i>
                            <i class="fa fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="result">
                            <label for = "lastname"> Last Name:</label>
                            <input type="text" class="form-control" id="lastname">
                            <i class="fa fa-check-circle"></i>
                            <i class="fa fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="result">
                            <label for = "email"> Email address:</label>
                            <input type="email" class="form-control" id="email">
                            <i class="fa fa-check-circle"></i>
                            <i class="fa fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="result">
                            <label for = "pwd"> Create Password:</label>
                            <input type="password" class="form-control" id="pwd">
                            <i class="fa fa-check-circle"></i>
                            <i class="fa fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="result">
                            <label for = "pwd"> Confirm Password:</label>
                            <input type="password" class="form-control" id="cpwd">
                            <i class="fa fa-check-circle"></i>
                            <i class="fa fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-dark" name ="signin" value="Create Account">
                </form>
        </div>
    </body>
    <script src="FormValidation.js"></script>
</html>



{% extends 'base.html' %}
{% block title %}
    Second Hand
{% endblock %}
{% block content %}
    <div id = "registerform">
        <h4>Create Account</h4>
        <form id="form" action="Home.html" method="POST">
            <div class="form-group">
                <div class="result">
                    <label for = "firstname"> First Name:</label>
                    <input type="text" class="form-control" id="firstname"> 
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
            </div>
            <div class="form-group">
                <div class="result">
                    <label for = "lastname"> Last Name:</label>
                    <input type="text" class="form-control" id="lastname">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
            </div>
            <div class="form-group">
                <div class="result">
                    <label for = "email"> Email address:</label>
                    <input type="email" class="form-control" id="email">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
            </div>
            <div class="form-group">
                <div class="result">
                    <label for = "pwd"> Create Password:</label>
                    <input type="password" class="form-control" id="pwd">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
            </div>
            <div class="form-group">
                <div class="result">
                    <label for = "pwd"> Confirm Password:</label>
                    <input type="password" class="form-control" id="cpwd">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error Message</small>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-dark" name ="signin" value="Create Account">
        </form>
    </div>
{% endblock %}