{% extends 'base.html' %}
{% block title %}
    Edit
{% endblock %}
{% block content %}
    <br><br>

    <div >

        <form method="POST" action="{% url 'secondupdate' product_id %}" class="d-flex justify-content-center" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% load static %}
            
            <div class = "form ">
                <br>
                ProductName
                <div class="form-group">
                    {{form.ProductName}}    
                </div>
    
                <br>
                Price
                <div class="form-group">
                    {{form.Price}}
                </div>
    
                <br>
                Description
                <div class="form-group">
                    {{form.Description}}
                </div>
                
                <br>
                Used Details
                <div class="form-group">
                    {{form.Used_Details}}
                </div>

                <br>
                Image
                <br>
                <div class="form-group">
                    {{form.Image}}
                </div>

                
                <button  class="btn btn-dark" type="submit">Update</button>
            </div>
        </form>
    
    </div>

    <br><br>
{% endblock %}