{% extends 'base.html' %}
{% load static %}

{% block title %}
    Transaction
{% endblock %}
{% block content %}

<div class = "d-flex justify-content-center">
    <div class="transaction-container">
        <div class="img-thumbnail">
            <img src="{{products.Image.url}}" alt="{{products.price}} picture">
        </div>
        <p><strong>{{products.Price}}</strong></p>
        <p>{{products.ProductName}}</p>
        <p>{{products.Description}}</p>   
        <p>{{products.Used_Details}}</p>
        <br>
        {% if products.UserId is not NULL %}
            <a href="{% url 'scart' products.id %}"><button class="btn btn-dark">Add to Cart</button></a>
        {% else %}
            <a href="{% url 'cart' products.id %}"><button class="btn btn-dark">Add to Cart</button></a>
        {% endif %}
          
    </div>
</div>

{% endblock %}