{% extends 'base.html' %}
{% load static %}

{% block title %}
    View
{% endblock %}
{% block content %}
<table class="table table-striped table-responsive">
    <thead class="thead-dark"  scope="col">
        <th>Image</th>
        <th>ProductName</th>
        <th>Price</th>
        <th>Description</th> 
        <th>Action</th>
    </thead>

    
    <tbody>
    {% for product in products %} 
        <tr>
            {% load static %}
            <td><img class="rounded" width="100" src="{{product.Image.url}}" /></td>
            <td>{{product.ProductName}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Description}}</td>

            <td><a href="{% url 'update' product.id %}">Edit</a>||<a href="{% url 'delete' product.id %}">Delete</a></td>
        
        </tr>
    {% endfor %}
    </tbody>
</table>
    <form action="{% url 'add' %}" class="d-flex justify-content-center" >  
        <button class = "btn btn-dark"> Add</button>
    </form>
{% endblock %}