body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: #606060;
    font-size: 16px;
}
.header-span span{
    text-align: center !important;
    font-size: 0.94em !important;
}

.header-span p{
    margin: 0px !important;
}

.navbar{
    display: block;
    max-width: 90%;
    margin-left: 5%;
    font-size: 20px !important;
    /* background-color: #E0E0E0 !important; */
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    border-color: #E0E0E0;
}
.navbar-nav .nav-item a{    
    color: #606060 !important;
}

#login img{
    max-width: 30px;
}

.navbar-expand .navbar-nav .nav-link{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#logo img{
    width: 100px;
    margin-left: 30%;
}

.search-box{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#search{
    padding-top: 5px;
}

.nav-item button {
    vertical-align: inherit;
}

.Container h4{
    margin-left:5% !important;
}

.backgroudImage{
    max-width: 90%;
    height: 400px;
    background-color: #E0E0E0 !important;
    display: block;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: black;
}

.backgroudImage .description{
    text-align: center;
    width: 50%;
    float: left;
}

.backgroudImage .Image{
    width: 50%;
    float: left;
}

.contents{
    height: auto;
}

footer{
    display: block;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #E0E0E0;
}

.foot img{
    width: 100px;
}

.foot{
    text-align: center;
    width: 100%;
}

hr.line{
    border-top: 3px solid #E0E0E0;
  }

/* .polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
} */


/* Login */
#registerform{
    max-width: 30%;
    margin-right: 35%;
    margin-left: 35%;
}
#registerform h1{
    text-align: left;
}

.form-group{
    position: relative !important;

}
.form-group i{
    position: absolute;
    visibility: hidden;
    top: 40px;
    right: 10px;
}
.form-group-success i.fa-check-circle{
    color: #2ecc2e;
    visibility: visible;
}
.form-group-error i.fa-exclamation-circle{
    color: #e74c3e;
    visibility: visible;

}
.form-group-error small{
    visibility: visible;
}
 .form-group small{
    visibility: hidden;
} 

/*About Us*/
/* #aboutus{
    background-image: url(pic/AboutUs.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 15px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
} */
#aboutus{
    padding-left:10%;
    padding-right:10%;
    font-size: 20px !important;

}